<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>Welcome</h1>
                <p ng-bind="index.loggedUserName"></p>
                <div>
                    <button class="btn btn-success" ng-click="main.navigate('/settings')">Settings</button>
                    <button class="btn btn-danger" ng-click="main.navigate('/authentication')">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>