/* app css stylesheet */

.main-form {
    margin: 25%;
    margin-top: 10%!important;
    padding: 50px;
    border: 1px solid;
}

#rememberCheckBox>input {
    margin-right: 10px;
}

.jumbotron {
    background-color: #0066cc;
}

.jumbotron >h1 {
    color:	#ffcc00;
}

.settings-input {
    display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}